<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <form name="mortgageForm" [formGroup]="mortgageForm">
    <div class="container row">
      <div class="col-sm">
        <div class="col-sm-5">
          <div class="mb-3">
            <label>Loan Amount</label>
            <input class="form-control" type="number" required placeholder="Loan Amount" [formControlName]="'loanAmount'" name="loanAmountInput" aria-label="Loan Amount">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="mb-3">
            <label>Interest Rate</label>
            <input class="form-control" required type="number" placeholder="Interest Rate" min=0 max=100 name="interestRateInput" [formControlName]="'interestRate'">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="b-3">
            <label>Down Payment %</label>
            <input class="form-control" required type="number" placeholder="Down Payment %" min=0 max=100 name="downPaymentPercentInput" [formControlName]="'downPaymentPercent'">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="mb-3">
            <label>Loan Term In Years</label>
            <input class="form-control" required type="number" placeholder="Loan Term" min=1 max=50 name="loanTermInYearsInput" [formControlName]="'loanTermInYears'">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col">
        <button type="button" class="btn btn-sm btn-primary mr-4" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="calculateMortgage(mortgageForm.value)">Monthly Payment</button>
      </div>
      <div class="col mt-4" >
        Monthly Payment: <b *ngIf="monthlyPayment">$ {{monthlyPayment}} </b>
      </div>
    </div>

  </form>
</div>
